.gradient-custom {
  /* fallback for old browsers */
  /* background: #93c5fb; */

  /* Chrome 10-25, Safari 5.1-6 */
  /* background: url("img/desart.jpg");
  background: linear-gradient(rgba(209, 206, 206, 0.5), rgba(44, 41, 41, 0.5)),
    url("img/desart.jpg"); */
  background-size: 100% 100%;
  background-color: #708090;
  background-position: center;
  background-repeat: no-repeat;
  
}

.layout-page {
  /* background: url("img/step1.jpg");
  background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)),
    url("img/step1.jpg"); */
  /* background-size: 100% 100%; */
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
}
/* .layout-page{
   background: url("img/desart.jpg");
  background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)),
    url("img/desart.jpg");
  background-size: 150% 130%;
  background-color: #e7e8d1;
  background-position: center;
  background-repeat: no-repeat;
} */

/* .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2;
  padding-left: 0.4em;
  padding-right: 0.7em;
} */

/* .card-registration {
  opacity: 0.7;
} */




