.gradient-custom {
  background-color: #fff;
  overflow: hidden;
  
}

.layout-page {
  background-color: #fff;

}


.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2;
 
}

/* .card-registration {
  opacity: 0.7;
} */




