/* PROGRESS-CSS */
.step-indicator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
margin-top: 30px;
margin-bottom: 50px;
margin-left: 45px;
    position: relative; /* Needed for the pseudo-element to position correctly */
  }
  
  .step-indicator::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    right: 5px;
    height: 4px; /* Thickness of the line */
    background-color: lightgray; /* Color of the line */
    z-index: 0; /* Ensure the line is behind the step indicators */
  }
  
  .step-item {
    display: flex;
    align-items: center;
    font-size: 22px;
    padding: 5px;
    position: relative;
    z-index: 1; /* Ensures the step items are above the line */
  }
  
  .completed {
    color: green;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }
  
  .step-number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
  }
  
  .step-number.active {
    background-color: green;
  }
  
  .step-number:hover {
    background-color: green; /* Darker shade of blue */
    cursor: pointer;
  }
  
  .step-item:first-child::before {
    content: none; /* Remove line before the first step */
  }
  
  .step-item:last-child::after {
    content: none; /* Remove line after the last step */
  }
  
  /* end progress css */